.card {
    height: 9rem;

    margin: 0.5rem 0;

    padding: 0.5rem 1rem;

    border: 2px solid black;
    border-radius: 0.5rem;

    background-color: white;
}

.card:hover {
    cursor: pointer;

    border-color: gray;
}

.nameDisplay {
    margin: 1rem auto;
}

.lastName {
    font-size: 2rem;
    margin-bottom: 0.5rem;

    overflow: hidden;
}

.dripDisplay{
    margin: 1rem auto;
}

.dripDisplay {
    display: flex;
    flex-direction: row;
}

.dripDisplay>* {
    flex-grow: 1;
    justify-content: space-between;
}

.connectionStatus {
    background-color: #ffb7b9;

    color: darkred;
    align-content: center;
}



