.card {
    width: 20rem;
    height: 12rem;

    margin: 0.5rem 0.25rem;

    padding: 0.5rem 1rem;

    border: 3px solid black;
    border-radius: 0.5rem;

    background-color: white;
}

.card:hover {
    cursor: pointer;

    border-color: gray;
}

@keyframes blink {
    50% { border-color: #ff6111; }
    100% { border-color: black; }
}

.cardAlert{
    border-style: solid;
    border-width: 3px;
    border-radius: 0.5rem;

    animation: blink .5s step-end infinite alternate;
}

.cardAlert:hover {
    cursor: pointer;

    border-color: gray;
}

.nameDisplay {
    margin: 1rem auto;

    padding-bottom: 1rem;

    border-bottom: 0.1rem solid #909090;
}

.lastName {
    font-size: 2rem;
    margin-bottom: 0.5rem;

    overflow: hidden;
}

.dripDisplay {
    margin: 1rem auto;

    display: flex;
    flex-direction: row;

    font-size: 2rem;
}

.dripDisplay>* {
    flex-grow: 1;
    justify-content: space-between;
}

.dripIcon {
    height: 1.5rem;
    width: 1.5rem;

    margin-right: 0.5rem;
}

.connectionStatus {
    background-color: #ffb7b9;

    color: darkred;
    align-content: center;

    border-radius: 0.25rem;
    padding: 0.2rem 0.2rem;
}





